{% extends 'model.njk' %}
{% from 'admin/recipes/loadRecipes.njk' import loadRecipes %}

{% block head %}
    <title>Chef {{chef.name}}</title>
{% endblock head %}

{% block content %}
<div class="wrapper">
    <div class="chef-dashboard">
        <h4>Chef: {{ chef.name }}</h4>
        {% if session.isAdmin %}
            <a href="/admin/chefs/{{chef.id}}/edit"><button>Editar chef</button></a>
        {% endif %}
    </div>
    <div class="chef-header">
        <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
        <h2>{{chef.name}}</h2>
        {% if chef.total_recipes == 1 %}
            <p>{{chef.total_recipes}} receita</p>
        {% else %}
            <p>{{chef.total_recipes}} receitas</p>
        {% endif %}
    </div>
    <section id="box">
        <h3>Receitas</h3>
        {{loadRecipes(recipes, files, '/admin/recipes/')}}
        {% if recipes == '' %}
            <h3>Não possui</h3>
        {% endif %}
    </section>

</div>
{% endblock content %}