{% extends 'model.njk' %}

{% block head %}
    <title>Criar Chef</title>
{% endblock head %}

{% block content %}
<div class="create-box">
    <form action="/admin/chefs" method="POST" id="save_chef" enctype="multipart/form-data">
        <div class="chef-dashboard">
            <h4>Criando chef</h4>
            <button type="submit" onclick="Validate.allFields(event)">Salvar chef</button>
        </div>

        {% include 'admin/chefs/chefModel.njk' %}

    </form>
</div>

{% endblock content %}