{% extends 'model.njk' %}
{% from 'admin/recipes/loadRecipes.njk' import loadRecipes %}

{% block head %}
    <title>Listagem</title>
{% endblock head %}

{% block content %}
    <section id="box">
        <div class="wrapper" style="display: flex; justify-content: space-between">
            <h3>Gerenciar receitas</h3>
            {% if session.userId %}
                <a href="/admin/recipes/create"><button class="new-recipe">Nova</button></a>
            {% endif %}
        </div>

        {{ loadRecipes(recipes, files, '/admin/recipes/') }}
        
        <div class="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-limit = {{pagination.limit}}
            data-filter = {{filter}}
        >
        </div>
    </section>

{% endblock content %}