{% extends 'layout.njk' %}

{% block content %}
    <main class="chefs">
        {% for chef in chefs %}
            <div class="chef">
                <div class="chef-avatar">
                    <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
                </div>
                <div class="chef-info">
                <a href="/chefs/{{chef.id}}"><h5>{{chef.name}}</h5></a>
                    {% if chef.total_recipes > 1 %}
                        <p>{{chef.total_recipes}} receitas</p>
                    {% else %}
                        {% if chef.total_recipes == 0 %}
                            <p>Sem receitas</p>
                        {% else %}
                            <p>{{chef.total_recipes}} receita</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </main>
    <div class="pagination"
        data-page = {{pagination.page}}
        data-total = {{pagination.total}}
        data-limit = {{pagination.limit}}
    ></div>  
{% endblock content %}

{% block footer %}
    
{% endblock footer %}