{% extends "layout.njk" %}
{% from './loadRecipes.njk' import loadRecipes %}

{% block header %}
    <section class="hero">
        <div class="presentation">
            <h1>{{home.title}}</h1>
            <p>{{home.presentation}}</p>
        </div>
        <img src="{{home.chef_url}}"/>
    </section>
{% endblock %}

{% block content %}
    <main>
        <h3>Mais acessadas</h3>

        {{loadRecipes(recipes, files)}}
    </main>
{% endblock %}