{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}
    
{% block content %}
    <main style="min-height: 80vh;">
        {% if filter %}
            <h3>Procurando por "{{filter}}"</h3>
        {% endif %}
        <div class="recipes">
        {% for recipe in recipes %}
            <div class="card">
                {% for file in files %}
                    {% if recipe.id == file.recipe_id %}
                        <a href="/recipes/{{recipe.id}}"><img src="{{ file.src }}" alt="{{ file.name }}"></a>
                    {% endif %}
                {% endfor %}
                <h5>{{recipe.title}}</h5>
                <p>por {{recipe.chef_name}}</p>
            </div>
        {% endfor %}
        </div>
        <div class="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-limit = {{pagination.limit}}
            data-filter = {{filter}}
        >
        </div>
    </main>

{% endblock content %}