<div class="search">
    <form action="/recipes" method="get">
        <input type="text" name="filter" value="" placeholder="Nome da receita" style="margin-right : 5px; padding: 10px 15px">
        <button type="submit" style="height: 37px; width: 91px; padding-bottom: 30px;">Buscar</button>
    </form>
</div>